@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	background-image: url(https://cdn.statically.io/gh/n-25/public/Live/images_br/APP_Themes/WP/images/bg.jpg);
	background-color: #b8c8db;
	background-position:center top;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	line-height: 17px;
}
